.card {
    /* margin: 20px; */
    background-color: #0d1117;
    /* background-color: #2c4150; */
    width: 150px;
    height: 200px;
    /* color: #b8b7b8; */
    color: #b6b6b7;
    box-shadow: 0px 0px 30px 0 rgb(0 0 0 / 38%);
    overflow: hidden;
    word-wrap: break-word;
    /* crea salto de lineas si el txt es largo */
    margin: 10px 2% 10px 2%;
    transition: all 0.2s;
    /* separaciones */
    padding: 20px;
    border-radius: 10px;
    /* Las separo un poco cosa de que me queden 3 por fila */
    margin-left: 2%;
    margin-right: 2%;
    /* Separacion entre tarjetas */
    margin-top: 50px;
    margin-bottom: 50px;
}

.countryTitle {
    /* color: whitesmoke; */
    /* color: #b8b7b8; */
    color: #b6b6b7;
    text-decoration: none;
}

/* .card-title {
    margin-bottom: 15px;
} */

#closeIcon {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 8px;
}

.card-body {
    margin-top: 0px !important;
    padding-top: 0px !important;
}