.home {
    display: flex;
    flex-direction: column;
    background: url('../images/EarthMap.jpg');
    background-color: #0d1117;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: whitesmoke;
    text-decoration: none;
    /* max-width: 100vh */
    background-color: darkgray;
}

.homeCards {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    background-color: #3c4e61;
    /* background-color: #0d1117; */
    /* height: auto; */


}