.landing {
    /* display: flex; */
    background: url('../images/countries.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    /* max-width: 100vh */
    /* background-color: darkgray; */
}

.button {
    display: flex;
    position: absolute;
    top: 45%;
    left: 40%;
    border-radius: 6px;
    background-color: darkgrey;
    border: none;
    color: black;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.button:hover {
    color: darkgray;
    background-color: rgb(71, 71, 71);
    padding-left: 0px;
    transition: all 1s;
}